body .container{
  max-width: 700px;
}
body.body-dark h1, body.body-dark h3,body.body-dark h4 ,body.body-dark h5, body.body-dark h2, body.body-dark h6, body.body-dark p {
color: #fff;
}

.font-logo, .font-text{
  cursor: pointer;
}

.child_fonts .font-logo {
  width: 120px;
  background: azure;
}
.font-section .row{
  background: #d9d9d96b;
  padding: 40px 20px 40px;
  border: 1px solid;
}

/* .font-text{
  text-shadow: 4px 4px 4px #aaa;
} */